@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
body {
  font-family: Quicksand, sans-serif;
  overflow-y: hidden;
  background-attachment: fixed;
  color: white;
  font-size: 22px;
}
.toDoList {
  border: solid #8f6957 5px;
  border-radius: 10px;
  background-color: #b47051;
  padding: 20px 20px 10px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 50%;
  list-style-type: none;
  border-collapse: collapse;
}

.toDoContent {
  overflow-y: auto;
  max-height: 10vh;
}
.toDoContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #8f6957;
  border-radius: 10px;
  background-color: #b47051;
  margin-right: 5px;
}
.toDoContent::-webkit-scrollbar {
  width: 14px;
}
.toDoContent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #8f6957;
  background-color: #6d432f;
}
li {
  border: solid #8f6957 1px;
  background-color: #b47051;
  border-radius: 10px;
  display: list-item;
}

button {
  background-color: #e9967a;
  width: 50%;
  margin-left: 100px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-family: Quicksand, sans-serif;
  transition: all 0.3s ease-in;
  user-select: none;
  box-shadow: #6d432f 4px 4px 5px 0;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  color: #8f6957;
}
.spanCross {
  float: right;
  padding-right: 15px;
  cursor: pointer;
}
ul {
  text-align: left;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through green;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  accent-color: green;
  margin-right: 20px;
  box-shadow: #6d432f 4px 4px 5px 0;
}
.addTodoTask {
  display: flex;
  margin-top: 70px;
}
.inputTask {
  width: 50%;
  border-radius: 5px;
  margin-left: 20px;
  box-shadow: #6d432f 4px 4px 5px 0;
  background-color: rgb(227, 220, 220);
}
.editTask {
  float: right;
  cursor: pointer;
  margin-right: 20px;
}
.editTodo {
  display: flex;
}
.filter_todo {
  float: right;
  display: flex;
}
.filtervalue {
  width: 50%;
  border-radius: 5px;
  margin-left: 20px;
  box-shadow: #6d432f 4px 4px 5px 0;
  background-color: rgb(227, 220, 220);
}

.editBtn {
  width: 100px;
}
